<div class="box">
    <div *ngIf="roomState==gameStates.Draw" class="game-state">
        <h2>Ничья!</h2>
    </div>
    <div *ngIf="roomState==gameStates.WaitingPlayers" class="game-state">
        <h2>Ожидание игроков...</h2>
    </div>
    <div *ngIf="roomState==gameStates.RoundLoss" class="game-state">
        <h2>Вы проиграли раунд!</h2>
    </div>
    <div *ngIf="roomState==gameStates.RoundWin" class="game-state">
        <h2>Вы выиграли раунд!</h2>
    </div>
    <div *ngIf="roomState==gameStates.GameWin" class="game-state">
        <h2>Победа в игре! 🎉</h2>
    </div>
    <div *ngIf="roomState==gameStates.GameLoss" class="game-state">
        <h2>Поражение в игре 😢</h2>
    </div>

    <div class="game-area" *ngIf="roomState==gameStates.Round">
        <div class="opponent-choices">
            <div class="opponent-card"></div>
            <div class="opponent-card"></div>
            <div class="opponent-card"></div>
        </div>

        <div class="choice-block"></div>

        <div class="buttons">
            <button 
                class="btn scissors" 
                [class.selected]="selectedChoice === playerMoves.Scissors" 
                (click)="selectChoice(playerMoves.Scissors)">
                ✂️ Ножницы
            </button>

            <button 
                class="btn rock" 
                [class.selected]="selectedChoice === playerMoves.Rock" 
                (click)="selectChoice(playerMoves.Rock)">
                🪨 Камень
            </button>

            <button 
                class="btn paper" 
                [class.selected]="selectedChoice === playerMoves.Paper" 
                (click)="selectChoice(playerMoves.Paper)">
                📄 Бумага
            </button>
        </div>
    </div>
</div>