.user-card {
    border: 1px solid var(--light-color);
    padding: 15px 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    align-items: center;
    background-color: #9c867b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

.user-card__place,
.user-card__name,
.user-card__mail,
.user-card__rating {
    padding: 8px;
    text-align: center;
}

.user-card__place {
    font-size: 1.2em;
    color: #161313;
}

.user-card__name {
    font-size: 1.1em;
    color: #333;
}

.user-card__mail {
    font-size: 1em;
    color: #0e0909;
}

.user-card__rating {
    font-size: 1.2em;
    color: #222;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-card__rating strong {
    background-color: #fdcc07;
    padding: 5px 10px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}